run = "ihaskell install --stack && jupyter notebook --config jupyter_notebook_config.py"

hidden = ["jupyter_notebook_config.py"]

[nix]
channel = "stable-22_11"

entrypoint = "notebooks/Gattegno.ipynb"
