run = "ihaskell-notebook"

hidden = [
  ".gitignore", 
  "notebooks/.ipynb_checkpoints",
  "jupyter_notebook_config.py"
]

[nix]
channel = "stable-23_05"

entrypoint = "README.md"

[env]
JUPYTER_CONFIG_DIR="$REPL_HOME"